.thead-brown th, .btn-brown a {
  padding: 16px 12px;
  font-size: 16px;
  background-color: #8D6E63 !important;
  color: #fff !important;
  
}

.btn-brown{
  --bs-btn-color: #fff;
  --bs-btn-bg: #8D6E63;
  --bs-btn-border-color: #8D6E63;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7b5a52;
  --bs-btn-hover-border-color: #7b5a52;

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6d4c41;
  --bs-btn-active-border-color: #6d4c41;

  --bs-btn-focus-shadow-rgb: 141,110,99;
}